/AcademicManagement-ejb/build/
/AcademicManagement-ejb/dist/
/AcademicManagement-ejb/nbproject/private/
/AcademicManagement-war/build/
/AcademicManagement-war/dist/
/AcademicManagement-war/nbproject/private/
/dist/